In [1]:
import pandas as pd

In [27]:
stats_df = pd.read_csv("../data/tournament_stats.csv")

bdo_df = pd.read_csv("../data/BallonDOr_combined.csv")

In [28]:
bdo_df['Year'] = bdo_df['Year'].apply(lambda x: int(str(x)[-2:]))
bdo_df = bdo_df.query('Year >= 8 & Year <=23')
# ballon_dor['Share'] = np.log(ballon_dor['Share'])

stats_df['Season'] = stats_df['Season'].apply(lambda x: int(str(x)[-2:]))
stats_df = stats_df.query('Season >= 8 & Season <=23')

In [49]:
stats_df.head()

,Season,Competition,Club,Appearances,Goals,Assists,Yellow Cards,Second yellow cards,Red cards,Minutes played,is_national,is_domestic,is_international,Player
1,23,Saudi Pro League,Al-Nassr FC,16,14,2,3,-,-,1.434',1,0.0,0.0,Cristiano Ronaldo
2,23,Premier League,Manchester United,10,1,-,2,-,-,520',1,0.0,0.0,Cristiano Ronaldo
3,22,Premier League,Manchester United,30,18,3,8,-,-,2.456',1,0.0,0.0,Cristiano Ronaldo
4,22,Serie A,Juventus FC,1,-,-,1,-,-,30',1,0.0,0.0,Cristiano Ronaldo
5,21,Serie A,Juventus FC,33,29,2,3,-,-,2.803',1,0.0,0.0,Cristiano Ronaldo

In [61]:
pd.get_dummies(stats_df["Competition"])

,2. Bundesliga,2ª B - Grupo I,2ª B - Grupo II,2ª B - Grupo III,3. Liga,A-League Men,AFC CL-Qualification,AFC Champions League,Allianz Cup,Amir Cup,...,UEFA Youth League,UEFA-Cup Qualifikation,UI Cup,US Open Cup,USLC,USLC Playoffs,VL Hessen-Nord,VL Hessen-Süd,Viareggio Cup,ÖFB-Cup
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7279,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7280,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7281,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7282,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
bdo_df.head()

,Year,Rank,Player,Club,Nationality,Points,P1,P2,P3,P4,P5,Votes,RankPts,Share,Percent,Voted
1498,8,1,Cristiano Ronaldo,Manchester United,Portugal,446.0,77.0,11.0,4.0,1.0,3.0,96.0,50.0,0.3097,0.9292,1.0000
1499,8,2,Lionel Messi,FC Barcelona,Argentina,281.0,6.0,33.0,27.0,14.0,10.0,90.0,25.0,0.1951,0.5854,0.9375
1500,8,3,Fernando Torres,Liverpool,Spain,179.0,5.0,13.0,24.0,9.0,12.0,63.0,16.7,0.1243,0.3729,0.6563
1501,8,4,Iker Casillas,Real Madrid CF,Spain,133.0,2.0,16.0,12.0,8.0,7.0,45.0,12.5,0.0924,0.2771,0.4688
1502,8,5,Xavi,FC Barcelona,Spain,97.0,3.0,9.0,4.0,15.0,4.0,35.0,10.0,0.0674,0.2021,0.3646

In [59]:
df = pd.merge(bdo_df, stats_df, left_on=["Player", "Year", "Club"], right_on=["Player", "Season", "Club"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 724 non-null    int64
 1   Rank                 724 non-null    int64
 2   Player               724 non-null    object
 3   Club                 724 non-null    object
 4   Nationality          706 non-null    object
 5   Points               492 non-null    float64
 6   P1                   116 non-null    float64
 7   P2                   116 non-null    float64
 8   P3                   116 non-null    float64
 9   P4                   116 non-null    float64
 10  P5                   116 non-null    float64
 11  Votes                480 non-null    float64
 12  RankPts              480 non-null    float64
 13  Share                724 non-null    float64
 14  Percent              480 non-null    float64
 15  Voted                480 non-null    float64
 16  Season               724 non-null    int64
 17  Competition          724 non-null    object
 18  Appearances          724 non-null    object
 19  Goals                724 non-null    object
 20  Assists              724 non-null    object
 21  Yellow Cards         724 non-null    object
 22  Second yellow cards  724 non-null    object
 23  Red cards            724 non-null    object
 24  Minutes played       724 non-null    object
 25  is_national          724 non-null    object
 26  is_domestic          723 non-null    float64
 27  is_international     723 non-null    float64
dtypes: float64(13), int64(3), object(12)
memory usage: 158.5+ KB

In [54]:
df["Competition"].value_counts()

Competition
Champions League            162
LaLiga                       56
Premier League               55
Copa del Rey                 54
FA Cup                       54
EFL Cup                      44
DFB-Pokal                    40
Bundesliga                   40
Supercopa                    39
DFL-Supercup                 26
Community Shield             25
Club World Cup               24
UEFA Super Cup               23
Coupe de France              14
Ligue 1                      14
Coupe de la Ligue            10
Europa League                 8
Trophée des Champions         6
Italy Cup                     5
Serie A                       5
Champions League Qu.          5
Europa League Qualifying      3
UECL Qualifiers               2
Conference League             2
Supercoppa Italiana           2
UEFA Cup                      2
Premier Liga                  1
Russian Super Cup             1
Russian Cup                   1
Ligapokal                     1
Name: count, dtype: int64

In [47]:
df["Player"].value_counts()

Player
Lionel Messi          47
Andrés Iniesta        35
Robert Lewandowski    30
Kevin De Bruyne       30
Xavi                  27
                      ..
Robin van Persie       3
Miroslav Klose         3
Jamie Vardy            3
Samuel Eto'o           3
Joško Gvardiol         3
Name: count, Length: 69, dtype: int64

In [72]:
for competition in df["Competition"].unique():
    df[f"{competition.replace(' ', '_')}_appearances"] = df[df["Competition"]== competition]["Appearances"].fillna(0)
    df[f"{competition.replace(' ', '_')}_appearances"].fillna(0, inplace=True)

In [75]:
df.iloc[7]

Year                                               8
Rank                                               5
Player                                          Xavi
Club                                    FC Barcelona
Nationality                                    Spain
Points                                          97.0
P1                                               3.0
P2                                               9.0
P3                                               4.0
P4                                              15.0
P5                                               4.0
Votes                                           35.0
RankPts                                         10.0
Share                                         0.0674
Percent                                       0.2021
Voted                                         0.3646
Season                                             8
Competition                                   LaLiga
Appearances                                       35
Goals                                              7
Assists                                            6
Yellow Cards                                       2
Second yellow cards                                1
Red cards                                          -
Minutes played                                2.932'
is_national                                        1
is_domestic                                      0.0
is_international                                 0.0
Premier_League_appearances                         0
FA_Cup_appearances                                 0
Community_Shield_appearances                       0
Champions_League_appearances                       0
LaLiga_appearances                                35
Copa_del_Rey_appearances                           0
Premier_Liga_appearances                           0
Russian_Super_Cup_appearances                      0
Russian_Cup_appearances                            0
UEFA_Cup_appearances                               0
Bundesliga_appearances                             0
DFB-Pokal_appearances                              0
Ligapokal_appearances                              0
Champions_League_Qu._appearances                   0
EFL_Cup_appearances                                0
Club_World_Cup_appearances                         0
UEFA_Super_Cup_appearances                         0
Supercopa_appearances                              0
DFL-Supercup_appearances                           0
Europa_League_appearances                          0
Ligue_1_appearances                                0
Coupe_de_France_appearances                        0
Coupe_de_la_Ligue_appearances                      0
Trophée_des_Champions_appearances                  0
Europa_League_Qualifying_appearances               0
Serie_A_appearances                                0
Italy_Cup_appearances                              0
Conference_League_appearances                      0
UECL_Qualifiers_appearances                        0
Supercoppa_Italiana_appearances                    0
Name: 7, dtype: object