In [66]:
import pandas as pd

In [67]:
stats_df = pd.read_csv("../data/tournament_stats.csv")

bdo_df = pd.read_csv("../data/BallonDOr_combined.csv")

In [68]:
bdo_df['Year'] = bdo_df['Year'].apply(lambda x: int(str(x)[-2:]))
bdo_df = bdo_df.query('Year >= 8 & Year <=23').infer_objects()
# ballon_dor['Share'] = np.log(ballon_dor['Share'])

stats_df['Season'] = stats_df['Season'].apply(lambda x: int(str(x)[-2:]))
stats_df = stats_df.query('Season >= 8 & Season <=23').infer_objects()

In [69]:
stats_df.head()

,Season,Competition,Club,Appearances,Goals,Assists,Yellow Cards,Second yellow cards,Red cards,Minutes played,is_national,is_domestic,is_international,Player
1,23,Saudi Pro League,Al-Nassr FC,16,14,2,3,-,-,1.434',1,0.0,0.0,Cristiano Ronaldo
2,23,Premier League,Manchester United,10,1,-,2,-,-,520',1,0.0,0.0,Cristiano Ronaldo
3,22,Premier League,Manchester United,30,18,3,8,-,-,2.456',1,0.0,0.0,Cristiano Ronaldo
4,22,Serie A,Juventus FC,1,-,-,1,-,-,30',1,0.0,0.0,Cristiano Ronaldo
5,21,Serie A,Juventus FC,33,29,2,3,-,-,2.803',1,0.0,0.0,Cristiano Ronaldo

In [70]:
pd.get_dummies(stats_df["Competition"])

,2. Bundesliga,2ª B - Grupo I,2ª B - Grupo II,2ª B - Grupo III,3. Liga,A-League Men,AFC CL-Qualification,AFC Champions League,Allianz Cup,Amir Cup,...,UEFA Youth League,UEFA-Cup Qualifikation,UI Cup,US Open Cup,USLC,USLC Playoffs,VL Hessen-Nord,VL Hessen-Süd,Viareggio Cup,ÖFB-Cup
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7279,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7280,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7281,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7282,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [71]:
bdo_df.head()

,Year,Rank,Player,Club,Nationality,Points,P1,P2,P3,P4,P5,Votes,RankPts,Share,Percent,Voted
1498,8,1,Cristiano Ronaldo,Manchester United,Portugal,446.0,77.0,11.0,4.0,1.0,3.0,96.0,50.0,0.3097,0.9292,1.0000
1499,8,2,Lionel Messi,FC Barcelona,Argentina,281.0,6.0,33.0,27.0,14.0,10.0,90.0,25.0,0.1951,0.5854,0.9375
1500,8,3,Fernando Torres,Liverpool,Spain,179.0,5.0,13.0,24.0,9.0,12.0,63.0,16.7,0.1243,0.3729,0.6563
1501,8,4,Iker Casillas,Real Madrid CF,Spain,133.0,2.0,16.0,12.0,8.0,7.0,45.0,12.5,0.0924,0.2771,0.4688
1502,8,5,Xavi,FC Barcelona,Spain,97.0,3.0,9.0,4.0,15.0,4.0,35.0,10.0,0.0674,0.2021,0.3646

In [72]:
df = pd.merge(bdo_df, stats_df, left_on=["Player", "Year", "Club"], right_on=["Player", "Season", "Club"]).drop(columns=["Second yellow cards"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              724 non-null    int64
 1   Rank              724 non-null    int64
 2   Player            724 non-null    object
 3   Club              724 non-null    object
 4   Nationality       706 non-null    object
 5   Points            492 non-null    float64
 6   P1                116 non-null    float64
 7   P2                116 non-null    float64
 8   P3                116 non-null    float64
 9   P4                116 non-null    float64
 10  P5                116 non-null    float64
 11  Votes             480 non-null    float64
 12  RankPts           480 non-null    float64
 13  Share             724 non-null    float64
 14  Percent           480 non-null    float64
 15  Voted             480 non-null    float64
 16  Season            724 non-null    int64
 17  Competition       724 non-null    object
 18  Appearances       724 non-null    object
 19  Goals             724 non-null    object
 20  Assists           724 non-null    object
 21  Yellow Cards      724 non-null    object
 22  Red cards         724 non-null    object
 23  Minutes played    724 non-null    object
 24  is_national       724 non-null    object
 25  is_domestic       723 non-null    float64
 26  is_international  723 non-null    float64
dtypes: float64(13), int64(3), object(11)
memory usage: 152.8+ KB

In [73]:
df = df.replace('-', 0)
for col in df.columns:
    try:
        df[col] = df[col].astype('int')
    except:
        continue
df["Minutes played"] = df['Minutes played'].str.removesuffix("'").astype("float")

In [74]:
df["Player"].value_counts()

Player
Lionel Messi          47
Andrés Iniesta        35
Robert Lewandowski    30
Kevin De Bruyne       30
Xavi                  27
                      ..
Robin van Persie       3
Miroslav Klose         3
Jamie Vardy            3
Samuel Eto'o           3
Joško Gvardiol         3
Name: count, Length: 69, dtype: int64

In [75]:
for competition in df["Competition"].unique():
    df[f"{competition.replace(' ', '_')}_appearances"] = df[df["Competition"]== competition]["Appearances"].fillna(0)
    df[f"{competition.replace(' ', '_')}_appearances"].fillna(0, inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 57 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  724 non-null    int64
 1   Rank                                  724 non-null    int64
 2   Player                                724 non-null    object
 3   Club                                  724 non-null    object
 4   Nationality                           706 non-null    object
 5   Points                                492 non-null    float64
 6   P1                                    116 non-null    float64
 7   P2                                    116 non-null    float64
 8   P3                                    116 non-null    float64
 9   P4                                    116 non-null    float64
 10  P5                                    116 non-null    float64
 11  Votes                                 480 non-null    float64
 12  RankPts                               480 non-null    float64
 13  Share                                 724 non-null    int64
 14  Percent                               480 non-null    float64
 15  Voted                                 480 non-null    float64
 16  Season                                724 non-null    int64
 17  Competition                           724 non-null    object
 18  Appearances                           724 non-null    int64
 19  Goals                                 724 non-null    int64
 20  Assists                               724 non-null    int64
 21  Yellow Cards                          724 non-null    int64
 22  Red cards                             724 non-null    int64
 23  Minutes played                        719 non-null    float64
 24  is_national                           724 non-null    int64
 25  is_domestic                           723 non-null    float64
 26  is_international                      723 non-null    float64
 27  Premier_League_appearances            724 non-null    float64
 28  FA_Cup_appearances                    724 non-null    float64
 29  Community_Shield_appearances          724 non-null    float64
 30  Champions_League_appearances          724 non-null    float64
 31  LaLiga_appearances                    724 non-null    float64
 32  Copa_del_Rey_appearances              724 non-null    float64
 33  Premier_Liga_appearances              724 non-null    float64
 34  Russian_Super_Cup_appearances         724 non-null    float64
 35  Russian_Cup_appearances               724 non-null    float64
 36  UEFA_Cup_appearances                  724 non-null    float64
 37  Bundesliga_appearances                724 non-null    float64
 38  DFB-Pokal_appearances                 724 non-null    float64
 39  Ligapokal_appearances                 724 non-null    float64
 40  Champions_League_Qu._appearances      724 non-null    float64
 41  EFL_Cup_appearances                   724 non-null    float64
 42  Club_World_Cup_appearances            724 non-null    float64
 43  UEFA_Super_Cup_appearances            724 non-null    float64
 44  Supercopa_appearances                 724 non-null    float64
 45  DFL-Supercup_appearances              724 non-null    float64
 46  Europa_League_appearances             724 non-null    float64
 47  Ligue_1_appearances                   724 non-null    float64
 48  Coupe_de_France_appearances           724 non-null    float64
 49  Coupe_de_la_Ligue_appearances         724 non-null    float64
 50  Trophée_des_Champions_appearances     724 non-null    float64
 51  Europa_League_Qualifying_appearances  724 non-null    float64
 52  Serie_A_appearances                   724 non-null    float64
 53  Italy_Cup_appearances                 724 non-null    float64
 54  Conference_League_appearances         724 non-null    float64
 55  UECL_Qualifiers_appearances           724 non-null    float64
 56  Supercoppa_Italiana_appearances       724 non-null    float64
dtypes: float64(43), int64(10), object(4)
memory usage: 322.5+ KB

In [99]:
base_cols = ["Year", "Rank", "Player", "Club", "Nationality"] 
df[base_cols]

     Year  Rank             Player               Club Nationality
0       8     1  Cristiano Ronaldo  Manchester United    Portugal
1       8     1  Cristiano Ronaldo  Manchester United    Portugal
2       8     1  Cristiano Ronaldo  Manchester United    Portugal
3       8     1  Cristiano Ronaldo  Manchester United    Portugal
4       8     2       Lionel Messi       FC Barcelona   Argentina
..    ...   ...                ...                ...         ...
719    23    30         Rúben Dias    Manchester City    Portugal
720    23    30         Rúben Dias    Manchester City    Portugal
721    23    30         Rúben Dias    Manchester City    Portugal
722    23    30         Rúben Dias    Manchester City    Portugal
723    23    30         Rúben Dias    Manchester City    Portugal

[724 rows x 5 columns]

In [100]:
df_avg = df.iloc[:, :17]
df_sum = pd.concat([df[base_cols],df.iloc[:, 19:]], axis=1)

In [103]:
df_sum = df_sum.groupby(base_cols).sum()
df_avg = df_avg.groupby(base_cols).mean()

df_final = df_avg.merge(df_sum, left_index=True, right_index=True)

In [105]:
df_final = df_final.rename(columns={
    "is_national": "national_comps",
    "is_international": "international_comps",
    "is_domestic": "domestic_comps"
})

In [106]:
df_final

                                                              Points    P1  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal      446.0  77.0
     2    Lionel Messi      FC Barcelona         Argentina     281.0   6.0
     5    Xavi              FC Barcelona         Spain          97.0   3.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia         64.0   0.0
     13   Wayne Rooney      Manchester United    England        11.0   0.0
...                                                              ...   ...
23   25   Joško Gvardiol    RB Leipzig           Croatia         1.0   NaN
     26   Jamal Musiala     Bayern Munich        Germany         0.0   NaN
     27   Nicolò Barella    Inter Milan          Italy           0.0   NaN
     28   Randal Kolo Muani Eintracht Frankfurt  France          0.0   NaN
     30   Rúben Dias        Manchester City      Portugal        0.0   NaN

                                                                P2    P3  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal     11.0   4.0
     2    Lionel Messi      FC Barcelona         Argentina    33.0  27.0
     5    Xavi              FC Barcelona         Spain         9.0   4.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia        3.0   4.0
     13   Wayne Rooney      Manchester United    England       0.0   1.0
...                                                            ...   ...
23   25   Joško Gvardiol    RB Leipzig           Croatia       NaN   NaN
     26   Jamal Musiala     Bayern Munich        Germany       NaN   NaN
     27   Nicolò Barella    Inter Milan          Italy         NaN   NaN
     28   Randal Kolo Muani Eintracht Frankfurt  France        NaN   NaN
     30   Rúben Dias        Manchester City      Portugal      NaN   NaN

                                                                P4    P5  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal      1.0   3.0
     2    Lionel Messi      FC Barcelona         Argentina    14.0  10.0
     5    Xavi              FC Barcelona         Spain        15.0   4.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia       10.0  20.0
     13   Wayne Rooney      Manchester United    England       2.0   4.0
...                                                            ...   ...
23   25   Joško Gvardiol    RB Leipzig           Croatia       NaN   NaN
     26   Jamal Musiala     Bayern Munich        Germany       NaN   NaN
     27   Nicolò Barella    Inter Milan          Italy         NaN   NaN
     28   Randal Kolo Muani Eintracht Frankfurt  France        NaN   NaN
     30   Rúben Dias        Manchester City      Portugal      NaN   NaN

                                                              Votes  RankPts  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal      96.0     50.0
     2    Lionel Messi      FC Barcelona         Argentina     90.0     25.0
     5    Xavi              FC Barcelona         Spain         35.0     10.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia        37.0      8.3
     13   Wayne Rooney      Manchester United    England        7.0      3.8
...                                                             ...      ...
23   25   Joško Gvardiol    RB Leipzig           Croatia        NaN      NaN
     26   Jamal Musiala     Bayern Munich        Germany        NaN      NaN
     27   Nicolò Barella    Inter Milan          Italy          NaN      NaN
     28   Randal Kolo Muani Eintracht Frankfurt  France         NaN      NaN
     30   Rúben Dias        Manchester City      Portugal       NaN      NaN

                                                              Share  Percent  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal       0.0   0.9292
     2    Lionel Messi      FC Barcelona         Argentina      0.0   0.5854
     5    Xavi              FC Barcelona         Spain          0.0   0.2021
     6    Andrei Arshavin   Zenit St. Petersburg Russia         0.0   0.1333
     13   Wayne Rooney      Manchester United    England        0.0   0.0229
...                                                             ...      ...
23   25   Joško Gvardiol    RB Leipzig           Croatia        0.0      NaN
     26   Jamal Musiala     Bayern Munich        Germany        0.0      NaN
     27   Nicolò Barella    Inter Milan          Italy          0.0      NaN
     28   Randal Kolo Muani Eintracht Frankfurt  France         0.0      NaN
     30   Rúben Dias        Manchester City      Portugal       0.0      NaN

                                                              ...  \
Year Rank Player            Club                 Nationality  ...
8    1    Cristiano Ronaldo Manchester United    Portugal     ...
     2    Lionel Messi      FC Barcelona         Argentina    ...
     5    Xavi              FC Barcelona         Spain        ...
     6    Andrei Arshavin   Zenit St. Petersburg Russia       ...
     13   Wayne Rooney      Manchester United    England      ...
...                                                           ...
23   25   Joško Gvardiol    RB Leipzig           Croatia      ...
     26   Jamal Musiala     Bayern Munich        Germany      ...
     27   Nicolò Barella    Inter Milan          Italy        ...
     28   Randal Kolo Muani Eintracht Frankfurt  France       ...
     30   Rúben Dias        Manchester City      Portugal     ...

                                                              Ligue_1_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                     0.0
     2    Lionel Messi      FC Barcelona         Argentina                    0.0
     5    Xavi              FC Barcelona         Spain                        0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                       0.0
     13   Wayne Rooney      Manchester United    England                      0.0
...                                                                           ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                      0.0
     26   Jamal Musiala     Bayern Munich        Germany                      0.0
     27   Nicolò Barella    Inter Milan          Italy                        0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                       0.0
     30   Rúben Dias        Manchester City      Portugal                     0.0

                                                              Coupe_de_France_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                             0.0
     2    Lionel Messi      FC Barcelona         Argentina                            0.0
     5    Xavi              FC Barcelona         Spain                                0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                               0.0
     13   Wayne Rooney      Manchester United    England                              0.0
...                                                                                   ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                              0.0
     26   Jamal Musiala     Bayern Munich        Germany                              0.0
     27   Nicolò Barella    Inter Milan          Italy                                0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                               0.0
     30   Rúben Dias        Manchester City      Portugal                             0.0

                                                              Coupe_de_la_Ligue_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                               0.0
     2    Lionel Messi      FC Barcelona         Argentina                              0.0
     5    Xavi              FC Barcelona         Spain                                  0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                                 0.0
     13   Wayne Rooney      Manchester United    England                                0.0
...                                                                                     ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                                0.0
     26   Jamal Musiala     Bayern Munich        Germany                                0.0
     27   Nicolò Barella    Inter Milan          Italy                                  0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                                 0.0
     30   Rúben Dias        Manchester City      Portugal                               0.0

                                                              Trophée_des_Champions_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                                   0.0
     2    Lionel Messi      FC Barcelona         Argentina                                  0.0
     5    Xavi              FC Barcelona         Spain                                      0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                                     0.0
     13   Wayne Rooney      Manchester United    England                                    0.0
...                                                                                         ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                                    0.0
     26   Jamal Musiala     Bayern Munich        Germany                                    0.0
     27   Nicolò Barella    Inter Milan          Italy                                      0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                                     0.0
     30   Rúben Dias        Manchester City      Portugal                                   0.0

                                                              Europa_League_Qualifying_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                                      0.0
     2    Lionel Messi      FC Barcelona         Argentina                                     0.0
     5    Xavi              FC Barcelona         Spain                                         0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                                        0.0
     13   Wayne Rooney      Manchester United    England                                       0.0
...                                                                                            ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                                       0.0
     26   Jamal Musiala     Bayern Munich        Germany                                       0.0
     27   Nicolò Barella    Inter Milan          Italy                                         0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                                        0.0
     30   Rúben Dias        Manchester City      Portugal                                      0.0

                                                              Serie_A_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                     0.0
     2    Lionel Messi      FC Barcelona         Argentina                    0.0
     5    Xavi              FC Barcelona         Spain                        0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                       0.0
     13   Wayne Rooney      Manchester United    England                      0.0
...                                                                           ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                      0.0
     26   Jamal Musiala     Bayern Munich        Germany                      0.0
     27   Nicolò Barella    Inter Milan          Italy                       35.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                       0.0
     30   Rúben Dias        Manchester City      Portugal                     0.0

                                                              Italy_Cup_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                       0.0
     2    Lionel Messi      FC Barcelona         Argentina                      0.0
     5    Xavi              FC Barcelona         Spain                          0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                         0.0
     13   Wayne Rooney      Manchester United    England                        0.0
...                                                                             ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                        0.0
     26   Jamal Musiala     Bayern Munich        Germany                        0.0
     27   Nicolò Barella    Inter Milan          Italy                          4.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                         0.0
     30   Rúben Dias        Manchester City      Portugal                       0.0

                                                              Conference_League_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                               0.0
     2    Lionel Messi      FC Barcelona         Argentina                              0.0
     5    Xavi              FC Barcelona         Spain                                  0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                                 0.0
     13   Wayne Rooney      Manchester United    England                                0.0
...                                                                                     ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                                0.0
     26   Jamal Musiala     Bayern Munich        Germany                                0.0
     27   Nicolò Barella    Inter Milan          Italy                                  0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                                 0.0
     30   Rúben Dias        Manchester City      Portugal                               0.0

                                                              UECL_Qualifiers_appearances  \
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                             0.0
     2    Lionel Messi      FC Barcelona         Argentina                            0.0
     5    Xavi              FC Barcelona         Spain                                0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                               0.0
     13   Wayne Rooney      Manchester United    England                              0.0
...                                                                                   ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                              0.0
     26   Jamal Musiala     Bayern Munich        Germany                              0.0
     27   Nicolò Barella    Inter Milan          Italy                                0.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                               0.0
     30   Rúben Dias        Manchester City      Portugal                             0.0

                                                              Supercoppa_Italiana_appearances
Year Rank Player            Club                 Nationality
8    1    Cristiano Ronaldo Manchester United    Portugal                                 0.0
     2    Lionel Messi      FC Barcelona         Argentina                                0.0
     5    Xavi              FC Barcelona         Spain                                    0.0
     6    Andrei Arshavin   Zenit St. Petersburg Russia                                   0.0
     13   Wayne Rooney      Manchester United    England                                  0.0
...                                                                                       ...
23   25   Joško Gvardiol    RB Leipzig           Croatia                                  0.0
     26   Jamal Musiala     Bayern Munich        Germany                                  0.0
     27   Nicolò Barella    Inter Milan          Italy                                    1.0
     28   Randal Kolo Muani Eintracht Frankfurt  France                                   0.0
     30   Rúben Dias        Manchester City      Portugal                                 0.0

[167 rows x 50 columns]