In [1]:
import pandas as pd

In [2]:
stats_df = pd.read_csv("../data/tournament_stats.csv")

bdo_df = pd.read_csv("../data/BallonDOr_combined.csv")

In [3]:
bdo_df['Year'] = bdo_df['Year'].apply(lambda x: int(str(x)[-2:]))
bdo_df = bdo_df.query('Year >= 8 & Year <=23').infer_objects().drop(columns=["Club"])
# ballon_dor['Share'] = np.log(ballon_dor['Share'])

stats_df['Season'] = stats_df['Season'].apply(lambda x: int(str(x)[-2:]))
stats_df = stats_df.query('Season >= 8 & Season <=23').infer_objects()

In [4]:
stats_df.head()

,Season,Competition,Club,Appearances,Goals,Assists,Yellow Cards,Second yellow cards,Red cards,Minutes played,is_national,is_domestic,is_international,Player
1,23,Saudi Pro League,Al-Nassr FC,16,14,2,3,-,-,1.434',1,0.0,0.0,Cristiano Ronaldo
2,23,Premier League,Manchester United,10,1,-,2,-,-,520',1,0.0,0.0,Cristiano Ronaldo
3,22,Premier League,Manchester United,30,18,3,8,-,-,2.456',1,0.0,0.0,Cristiano Ronaldo
4,22,Serie A,Juventus FC,1,-,-,1,-,-,30',1,0.0,0.0,Cristiano Ronaldo
5,21,Serie A,Juventus FC,33,29,2,3,-,-,2.803',1,0.0,0.0,Cristiano Ronaldo

In [5]:
pd.get_dummies(stats_df["Competition"])

,2. Bundesliga,2ª B - Grupo I,2ª B - Grupo II,2ª B - Grupo III,3. Liga,A-League Men,AFC CL-Qualification,AFC Champions League,Allianz Cup,Amir Cup,...,UEFA Youth League,UEFA-Cup Qualifikation,UI Cup,US Open Cup,USLC,USLC Playoffs,VL Hessen-Nord,VL Hessen-Süd,Viareggio Cup,ÖFB-Cup
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7279,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7280,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7281,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7282,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
bdo_df.head()

,Year,Rank,Player,Nationality,Points,P1,P2,P3,P4,P5,Votes,RankPts,Share,Percent,Voted
1498,8,1,Cristiano Ronaldo,Portugal,446.0,77.0,11.0,4.0,1.0,3.0,96.0,50.0,0.3097,0.9292,1.0000
1499,8,2,Lionel Messi,Argentina,281.0,6.0,33.0,27.0,14.0,10.0,90.0,25.0,0.1951,0.5854,0.9375
1500,8,3,Fernando Torres,Spain,179.0,5.0,13.0,24.0,9.0,12.0,63.0,16.7,0.1243,0.3729,0.6563
1501,8,4,Iker Casillas,Spain,133.0,2.0,16.0,12.0,8.0,7.0,45.0,12.5,0.0924,0.2771,0.4688
1502,8,5,Xavi,Spain,97.0,3.0,9.0,4.0,15.0,4.0,35.0,10.0,0.0674,0.2021,0.3646

In [7]:
bdo_df[bdo_df["Player"] == "Cristiano Ronaldo"]

,Year,Rank,Player,Nationality,Points,P1,P2,P3,P4,P5,Votes,RankPts,Share,Percent,Voted
1498,8,1,Cristiano Ronaldo,Portugal,446.0,77.0,11.0,4.0,1.0,3.0,96.0,50.0,0.3097,0.9292,1.0000
1524,9,2,Cristiano Ronaldo,Portugal,233.0,0.0,32.0,25.0,11.0,8.0,76.0,25.0,0.1618,0.4854,0.7917
1557,10,6,Cristiano Ronaldo,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,0.0,8.3,0.0392,0.0706,0.0000
1576,11,2,Cristiano Ronaldo,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,0.0,25.0,0.2160,0.3888,0.0000
1599,12,2,Cristiano Ronaldo,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,0.0,25.0,0.2368,0.4262,0.0000
1621,13,1,Cristiano Ronaldo,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,0.0,50.0,0.2799,0.5038,0.0000
1644,14,1,Cristiano Ronaldo,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,0.0,50.0,0.3766,0.6779,0.0000
1668,15,2,Cristiano Ronaldo,Portugal,1262.0,NaN,NaN,NaN,NaN,NaN,0.0,25.0,0.2821,0.5078,0.0000
1690,16,1,Cristiano Ronaldo,Portugal,745.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,0.4785,0.8613,0.0000
1720,17,1,Cristiano Ronaldo,Portugal,946.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,0.3359,0.6045,0.0000
1751,18,2,Cristiano Ronaldo,Portugal,476.0,22.0,41.0,34.0,30.0,18.0,145.0,25.0,0.1653,0.4407,0.8056
1782,19,3,Cristiano Ronaldo,Portugal,476.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1690,NaN,NaN
1815,21,6,Cristiano Ronaldo,Portugal,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0654,NaN,NaN
1859,22,20,Cristiano Ronaldo,Portugal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN

In [8]:
df = pd.merge(bdo_df, stats_df, left_on=["Player", "Year"], right_on=["Player", "Season"]).drop(columns=["Second yellow cards"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1530 entries, 0 to 1529
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              1530 non-null   int64
 1   Rank              1530 non-null   int64
 2   Player            1530 non-null   object
 3   Nationality       1436 non-null   object
 4   Points            1092 non-null   float64
 5   P1                324 non-null    float64
 6   P2                324 non-null    float64
 7   P3                324 non-null    float64
 8   P4                324 non-null    float64
 9   P5                324 non-null    float64
 10  Votes             1060 non-null   float64
 11  RankPts           1060 non-null   float64
 12  Share             1530 non-null   float64
 13  Percent           1060 non-null   float64
 14  Voted             1060 non-null   float64
 15  Season            1530 non-null   int64
 16  Competition       1530 non-null   object
 17  Club              1530 non-null   object
 18  Appearances       1530 non-null   object
 19  Goals             1530 non-null   object
 20  Assists           1530 non-null   object
 21  Yellow Cards      1530 non-null   object
 22  Red cards         1530 non-null   object
 23  Minutes played    1530 non-null   object
 24  is_national       1530 non-null   object
 25  is_domestic       1526 non-null   float64
 26  is_international  1526 non-null   float64
dtypes: float64(13), int64(3), object(11)
memory usage: 322.9+ KB

In [9]:
df["Share"]

0       0.3097
1       0.3097
2       0.3097
3       0.3097
4       0.1951
         ...
1525    0.0000
1526    0.0000
1527    0.0000
1528    0.0000
1529    0.0000
Name: Share, Length: 1530, dtype: float64

In [10]:
df = df.replace('-', 0)
for col in df.columns:
    try:
        df[col] = df[col].astype('float')
    except:
        continue
df["Minutes played"] = df['Minutes played'].str.removesuffix("'").astype("float")

In [11]:
df["Player"].value_counts().head(20)

Player
Lionel Messi          62
Cristiano Ronaldo     54
Karim Benzema         45
Kevin De Bruyne       36
Robert Lewandowski    35
Andrés Iniesta        35
Sergio Agüero         32
Zlatan Ibrahimović    30
Neymar                30
Eden Hazard           29
Luis Suárez Díaz      28
Xavi                  27
Luka Modrić           26
Thomas Müller         25
Kylian Mbappé         25
Sergio Ramos          24
Harry Kane            22
Mohamed Salah         22
Gareth Bale           21
Yaya Touré            21
Name: count, dtype: int64

In [12]:
for competition in df["Competition"].unique():
    df[f"{competition.replace(' ', '_')}_appearances"] = df[df["Competition"]== competition]["Appearances"].fillna(0)
    df[f"{competition.replace(' ', '_')}_appearances"].fillna(0, inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1530 entries, 0 to 1529
Data columns (total 78 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  1530 non-null   float64
 1   Rank                                  1530 non-null   float64
 2   Player                                1530 non-null   object
 3   Nationality                           1436 non-null   object
 4   Points                                1092 non-null   float64
 5   P1                                    324 non-null    float64
 6   P2                                    324 non-null    float64
 7   P3                                    324 non-null    float64
 8   P4                                    324 non-null    float64
 9   P5                                    324 non-null    float64
 10  Votes                                 1060 non-null   float64
 11  RankPts                               1060 non-null   float64
 12  Share                                 1530 non-null   float64
 13  Percent                               1060 non-null   float64
 14  Voted                                 1060 non-null   float64
 15  Season                                1530 non-null   float64
 16  Competition                           1530 non-null   object
 17  Club                                  1530 non-null   object
 18  Appearances                           1530 non-null   float64
 19  Goals                                 1530 non-null   float64
 20  Assists                               1530 non-null   float64
 21  Yellow Cards                          1530 non-null   float64
 22  Red cards                             1530 non-null   float64
 23  Minutes played                        1517 non-null   float64
 24  is_national                           1530 non-null   float64
 25  is_domestic                           1526 non-null   float64
 26  is_international                      1526 non-null   float64
 27  Premier_League_appearances            1530 non-null   float64
 28  FA_Cup_appearances                    1530 non-null   float64
 29  Community_Shield_appearances          1530 non-null   float64
 30  Champions_League_appearances          1530 non-null   float64
 31  LaLiga_appearances                    1530 non-null   float64
 32  Copa_del_Rey_appearances              1530 non-null   float64
 33  EFL_Cup_appearances                   1530 non-null   float64
 34  Champions_League_Qu._appearances      1530 non-null   float64
 35  Premier_Liga_appearances              1530 non-null   float64
 36  Russian_Super_Cup_appearances         1530 non-null   float64
 37  Russian_Cup_appearances               1530 non-null   float64
 38  UEFA_Cup_appearances                  1530 non-null   float64
 39  Serie_A_appearances                   1530 non-null   float64
 40  Club_World_Cup_appearances            1530 non-null   float64
 41  UEFA_Super_Cup_appearances            1530 non-null   float64
 42  Supercoppa_Italiana_appearances       1530 non-null   float64
 43  UEFA-Cup_Qualifikation_appearances    1530 non-null   float64
 44  UI_Cup_appearances                    1530 non-null   float64
 45  Oberliga_Hessen_appearances           1530 non-null   float64
 46  Bundesliga_appearances                1530 non-null   float64
 47  DFB-Pokal_appearances                 1530 non-null   float64
 48  Ligapokal_appearances                 1530 non-null   float64
 49  Supercopa_appearances                 1530 non-null   float64
 50  Italy_Cup_appearances                 1530 non-null   float64
 51  Ligue_1_appearances                   1530 non-null   float64
 52  Coupe_de_la_Ligue_appearances         1530 non-null   float64
 53  Coupe_de_France_appearances           1530 non-null   float64
 54  Trophée_des_Champions_appearances     1530 non-null   float64
 55  Hessenliga_appearances                1530 non-null   float64
 56  Europa_League_appearances             1530 non-null   float64
 57  Europa_League_Qualifying_appearances  1530 non-null   float64
 58  Eredivisie_appearances                1530 non-null   float64
 59  KNVB_beker_appearances                1530 non-null   float64
 60  Johan_Cruijff_Schaal_appearances      1530 non-null   float64
 61  Série_A_appearances                   1530 non-null   float64
 62  Libertadores_appearances              1530 non-null   float64
 63  DFL-Supercup_appearances              1530 non-null   float64
 64  Liga_Portugal_appearances             1530 non-null   float64
 65  Supertaça_appearances                 1530 non-null   float64
 66  Super_League_appearances              1530 non-null   float64
 67  Recopa_Sudamericana_appearances       1530 non-null   float64
 68  Copa_do_Brasil_appearances            1530 non-null   float64
 69  National_2_-_Grp._D_appearances       1530 non-null   float64
 70  Premier_League_2_appearances          1530 non-null   float64
 71  Taça_de_Portugal_appearances          1530 non-null   float64
 72  Allianz_Cup_appearances               1530 non-null   float64
 73  Conference_League_appearances         1530 non-null   float64
 74  UECL_Qualifiers_appearances           1530 non-null   float64
 75  MLS_appearances                       1530 non-null   float64
 76  US_Open_Cup_appearances               1530 non-null   float64
 77  Leagues_Cup_appearances               1530 non-null   float64
dtypes: float64(74), object(4)
memory usage: 932.5+ KB

In [14]:
base_cols = ["Year", "Rank", "Player", "Club", "Nationality"] 
df[base_cols]

      Year  Rank             Player               Club Nationality
0      8.0   1.0  Cristiano Ronaldo  Manchester United    Portugal
1      8.0   1.0  Cristiano Ronaldo  Manchester United    Portugal
2      8.0   1.0  Cristiano Ronaldo  Manchester United    Portugal
3      8.0   1.0  Cristiano Ronaldo  Manchester United    Portugal
4      8.0   2.0       Lionel Messi       FC Barcelona   Argentina
...    ...   ...                ...                ...         ...
1525  23.0  30.0         Rúben Dias    Manchester City    Portugal
1526  23.0  30.0         Rúben Dias    Manchester City    Portugal
1527  23.0  30.0         Rúben Dias    Manchester City    Portugal
1528  23.0  30.0         Rúben Dias    Manchester City    Portugal
1529  23.0  30.0         Rúben Dias    Manchester City    Portugal

[1530 rows x 5 columns]

In [15]:
df_max = df.iloc[:, :18].drop(columns=["Competition"])
df_sum = pd.concat([df[base_cols],df.iloc[:, 19:]], axis=1)

In [16]:
df["Share"]

0       0.3097
1       0.3097
2       0.3097
3       0.3097
4       0.1951
         ...
1525    0.0000
1526    0.0000
1527    0.0000
1528    0.0000
1529    0.0000
Name: Share, Length: 1530, dtype: float64

In [17]:
df_sum = df_sum.groupby(base_cols).sum()
df_max = df_max.groupby(base_cols).max()

df_final = df_max.merge(df_sum, left_index=True, right_index=True)

In [18]:
df_final = df_final.rename(columns={
    "is_national": "national_comps",
    "is_international": "international_comps",
    "is_domestic": "domestic_comps"
})

In [19]:
df_final

                                                              Points    P1  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal      446.0  77.0
     2.0  Lionel Messi      FC Barcelona         Argentina     281.0   6.0
     3.0  Fernando Torres   Liverpool FC         Spain         179.0   5.0
     5.0  Xavi              FC Barcelona         Spain          97.0   3.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia         64.0   0.0
...                                                              ...   ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany         0.0   NaN
     27.0 Nicolò Barella    Inter Milan          Italy           0.0   NaN
     28.0 Martin Ødegaard   Arsenal FC           Norway          0.0   NaN
          Randal Kolo Muani Eintracht Frankfurt  France          0.0   NaN
     30.0 Rúben Dias        Manchester City      Portugal        0.0   NaN

                                                                P2    P3  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal     11.0   4.0
     2.0  Lionel Messi      FC Barcelona         Argentina    33.0  27.0
     3.0  Fernando Torres   Liverpool FC         Spain        13.0  24.0
     5.0  Xavi              FC Barcelona         Spain         9.0   4.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia        3.0   4.0
...                                                            ...   ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany       NaN   NaN
     27.0 Nicolò Barella    Inter Milan          Italy         NaN   NaN
     28.0 Martin Ødegaard   Arsenal FC           Norway        NaN   NaN
          Randal Kolo Muani Eintracht Frankfurt  France        NaN   NaN
     30.0 Rúben Dias        Manchester City      Portugal      NaN   NaN

                                                                P4    P5  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal      1.0   3.0
     2.0  Lionel Messi      FC Barcelona         Argentina    14.0  10.0
     3.0  Fernando Torres   Liverpool FC         Spain         9.0  12.0
     5.0  Xavi              FC Barcelona         Spain        15.0   4.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia       10.0  20.0
...                                                            ...   ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany       NaN   NaN
     27.0 Nicolò Barella    Inter Milan          Italy         NaN   NaN
     28.0 Martin Ødegaard   Arsenal FC           Norway        NaN   NaN
          Randal Kolo Muani Eintracht Frankfurt  France        NaN   NaN
     30.0 Rúben Dias        Manchester City      Portugal      NaN   NaN

                                                              Votes  RankPts  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal      96.0     50.0
     2.0  Lionel Messi      FC Barcelona         Argentina     90.0     25.0
     3.0  Fernando Torres   Liverpool FC         Spain         63.0     16.7
     5.0  Xavi              FC Barcelona         Spain         35.0     10.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia        37.0      8.3
...                                                             ...      ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany        NaN      NaN
     27.0 Nicolò Barella    Inter Milan          Italy          NaN      NaN
     28.0 Martin Ødegaard   Arsenal FC           Norway         NaN      NaN
          Randal Kolo Muani Eintracht Frankfurt  France         NaN      NaN
     30.0 Rúben Dias        Manchester City      Portugal       NaN      NaN

                                                               Share  Percent  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal     0.3097   0.9292
     2.0  Lionel Messi      FC Barcelona         Argentina    0.1951   0.5854
     3.0  Fernando Torres   Liverpool FC         Spain        0.1243   0.3729
     5.0  Xavi              FC Barcelona         Spain        0.0674   0.2021
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia       0.0444   0.1333
...                                                              ...      ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany      0.0000      NaN
     27.0 Nicolò Barella    Inter Milan          Italy        0.0000      NaN
     28.0 Martin Ødegaard   Arsenal FC           Norway       0.0000      NaN
          Randal Kolo Muani Eintracht Frankfurt  France       0.0000      NaN
     30.0 Rúben Dias        Manchester City      Portugal     0.0000      NaN

                                                              ...  \
Year Rank Player            Club                 Nationality  ...
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal     ...
     2.0  Lionel Messi      FC Barcelona         Argentina    ...
     3.0  Fernando Torres   Liverpool FC         Spain        ...
     5.0  Xavi              FC Barcelona         Spain        ...
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia       ...
...                                                           ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany      ...
     27.0 Nicolò Barella    Inter Milan          Italy        ...
     28.0 Martin Ødegaard   Arsenal FC           Norway       ...
          Randal Kolo Muani Eintracht Frankfurt  France       ...
     30.0 Rúben Dias        Manchester City      Portugal     ...

                                                              Copa_do_Brasil_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                            0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                           0.0
     3.0  Fernando Torres   Liverpool FC         Spain                               0.0
     5.0  Xavi              FC Barcelona         Spain                               0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                              0.0
...                                                                                  ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                             0.0
     27.0 Nicolò Barella    Inter Milan          Italy                               0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                              0.0
          Randal Kolo Muani Eintracht Frankfurt  France                              0.0
     30.0 Rúben Dias        Manchester City      Portugal                            0.0

                                                              National_2_-_Grp._D_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                                 0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                                0.0
     3.0  Fernando Torres   Liverpool FC         Spain                                    0.0
     5.0  Xavi              FC Barcelona         Spain                                    0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                                   0.0
...                                                                                       ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                                  0.0
     27.0 Nicolò Barella    Inter Milan          Italy                                    0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                                   0.0
          Randal Kolo Muani Eintracht Frankfurt  France                                   0.0
     30.0 Rúben Dias        Manchester City      Portugal                                 0.0

                                                              Premier_League_2_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                              0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                             0.0
     3.0  Fernando Torres   Liverpool FC         Spain                                 0.0
     5.0  Xavi              FC Barcelona         Spain                                 0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                                0.0
...                                                                                    ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                               0.0
     27.0 Nicolò Barella    Inter Milan          Italy                                 0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                                0.0
          Randal Kolo Muani Eintracht Frankfurt  France                                0.0
     30.0 Rúben Dias        Manchester City      Portugal                              0.0

                                                              Taça_de_Portugal_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                              0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                             0.0
     3.0  Fernando Torres   Liverpool FC         Spain                                 0.0
     5.0  Xavi              FC Barcelona         Spain                                 0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                                0.0
...                                                                                    ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                               0.0
     27.0 Nicolò Barella    Inter Milan          Italy                                 0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                                0.0
          Randal Kolo Muani Eintracht Frankfurt  France                                0.0
     30.0 Rúben Dias        Manchester City      Portugal                              0.0

                                                              Allianz_Cup_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                         0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                        0.0
     3.0  Fernando Torres   Liverpool FC         Spain                            0.0
     5.0  Xavi              FC Barcelona         Spain                            0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                           0.0
...                                                                               ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                          0.0
     27.0 Nicolò Barella    Inter Milan          Italy                            0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                           0.0
          Randal Kolo Muani Eintracht Frankfurt  France                           0.0
     30.0 Rúben Dias        Manchester City      Portugal                         0.0

                                                              Conference_League_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                               0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                              0.0
     3.0  Fernando Torres   Liverpool FC         Spain                                  0.0
     5.0  Xavi              FC Barcelona         Spain                                  0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                                 0.0
...                                                                                     ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                                0.0
     27.0 Nicolò Barella    Inter Milan          Italy                                  0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                                 0.0
          Randal Kolo Muani Eintracht Frankfurt  France                                 0.0
     30.0 Rúben Dias        Manchester City      Portugal                               0.0

                                                              UECL_Qualifiers_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                             0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                            0.0
     3.0  Fernando Torres   Liverpool FC         Spain                                0.0
     5.0  Xavi              FC Barcelona         Spain                                0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                               0.0
...                                                                                   ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                              0.0
     27.0 Nicolò Barella    Inter Milan          Italy                                0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                               0.0
          Randal Kolo Muani Eintracht Frankfurt  France                               0.0
     30.0 Rúben Dias        Manchester City      Portugal                             0.0

                                                              MLS_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                 0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                0.0
     3.0  Fernando Torres   Liverpool FC         Spain                    0.0
     5.0  Xavi              FC Barcelona         Spain                    0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                   0.0
...                                                                       ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                  0.0
     27.0 Nicolò Barella    Inter Milan          Italy                    0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                   0.0
          Randal Kolo Muani Eintracht Frankfurt  France                   0.0
     30.0 Rúben Dias        Manchester City      Portugal                 0.0

                                                              US_Open_Cup_appearances  \
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                         0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                        0.0
     3.0  Fernando Torres   Liverpool FC         Spain                            0.0
     5.0  Xavi              FC Barcelona         Spain                            0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                           0.0
...                                                                               ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                          0.0
     27.0 Nicolò Barella    Inter Milan          Italy                            0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                           0.0
          Randal Kolo Muani Eintracht Frankfurt  France                           0.0
     30.0 Rúben Dias        Manchester City      Portugal                         0.0

                                                              Leagues_Cup_appearances
Year Rank Player            Club                 Nationality
8.0  1.0  Cristiano Ronaldo Manchester United    Portugal                         0.0
     2.0  Lionel Messi      FC Barcelona         Argentina                        0.0
     3.0  Fernando Torres   Liverpool FC         Spain                            0.0
     5.0  Xavi              FC Barcelona         Spain                            0.0
     6.0  Andrei Arshavin   Zenit St. Petersburg Russia                           0.0
...                                                                               ...
23.0 26.0 Jamal Musiala     Bayern Munich        Germany                          0.0
     27.0 Nicolò Barella    Inter Milan          Italy                            0.0
     28.0 Martin Ødegaard   Arsenal FC           Norway                           0.0
          Randal Kolo Muani Eintracht Frankfurt  France                           0.0
     30.0 Rúben Dias        Manchester City      Portugal                         0.0

[360 rows x 71 columns]

In [20]:
df_final.to_csv('../data/player_stats.csv')